<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="mob_rob_macro_urdf.xacro"/>
    <xacro:macro name="mob_rob">
        <!-- Base footprint - ground projection -->
        <link name="base_footprint"/>

        <joint name="base_footprint_joint" type="fixed">
            <parent link="base_footprint"/>
            <child link="base_link"/>
            <origin xyz="0 0 0.1" rpy="0 0 0"/>
        </joint>

        <!-- Dijelovi robota-->
        <link name="base_link"> 
        <visual> 
            <geometry> 
                <box size="0.4 0.3 0.3"/> 
            </geometry> 
                <material name="red"> 
                    <color rgba="1.0 0 0 1"/> 
                </material> 
        </visual> 
        <collision> 
            <geometry> 
                <box size="0.4 0.3 0.3"/> 
            </geometry> 
        </collision> 
        <inertial> 
            <mass value="1.0"/> 
            <inertia ixx="0.03" iyy="0.0208" izz="0.0208" ixy="0" ixz="0" iyz="0"/> 
        </inertial> 
        </link>

        <xacro:default_wheel prefix="left_front" length="0.05" radius="0.1"/>
        <xacro:default_wheel prefix="right_front" length="0.05" radius="0.1"/>
        <xacro:default_wheel prefix="left_rear" length="0.05" radius="0.1"/>
        <xacro:default_wheel prefix="right_rear" length="0.05" radius="0.1"/>

        <joint name= "left_front_wheel_joint" type="continuous">
            <axis xyz= "0 0 1"/>
            <parent link= "base_link"/>
            <child link= "left_front_wheel"/>
            <origin rpy= "-1.5708 0 0" xyz= "0.12 0.175 -0.085"/>
        </joint>

        <joint name= "right_front_wheel_joint" type="continuous">
            <axis xyz= "0 0 1"/>
            <parent link= "base_link"/>
            <child link= "right_front_wheel"/>
            <origin rpy= "-1.5708 0 0" xyz= "0.12 -0.175 -0.085"/>
        </joint>

        <joint name= "left_rear_wheel_joint" type="continuous">
            <axis xyz= "0 0 1"/>
            <parent link= "base_link"/>
            <child link= "left_rear_wheel"/>
            <origin rpy= "-1.5708 0 0" xyz= "-0.12 0.175 -0.085"/>
        </joint>

        <joint name= "right_rear_wheel_joint" type="continuous">
            <axis xyz= "0 0 1"/>
            <parent link= "base_link"/>
            <child link= "right_rear_wheel"/>
            <origin rpy= "-1.5708 0 0" xyz= "-0.12 -0.175 -0.085"/>
        </joint>

        <link name= "camera_link">
            <visual>
                <geometry>
                    <box size= "0.038 0.038 0.038"/>
                </geometry>
                <material name="black"/>
            </visual>
            <collision>
                <geometry>
                    <box size= "0.038 0.038 0.038"/>
                </geometry>
            </collision>
            <inertial>
                <mass value= "1e-5"/>
                <inertia ixx= "6.65e-8" iyy= "4.56e-9" izz= "6.86e-8" ixy= "0" ixz= "0" iyz= "0"/>
            </inertial>
        </link>

        <link name= "laser_link">
            <visual>
                <geometry>
                    <box size= "0.038 0.038 0.038"/>
                </geometry>
                <material name="black"/>
            </visual>
            <collision>
                <geometry>
                    <box size= "0.038 0.038 0.038"/>
                </geometry>
            </collision>
            <inertial>
                <mass value= "1e-5"/>
                <inertia ixx= "6.65e-8" iyy= "4.56e-9" izz= "6.86e-8" ixy= "0" ixz= "0" iyz= "0"/>
            </inertial>
        </link>

        <joint name= "laser_joint" type="fixed">
            <axis xyz= "0 1 0"/>
            <parent link= "base_link"/>
            <child link= "laser_link"/>
            <origin rpy= "0 0 0" xyz= "0 0 0.169"/>
        </joint>

        <joint name= "camera_joint" type="fixed">
            <axis xyz= "0 1 0"/>
            <parent link= "base_link"/>
            <child link= "camera_link"/>
            <origin rpy= "0 0 0" xyz= "0.219 0 0.131"/>
        </joint>

        <joint name="camera_rgb_joint" type="fixed">
            <origin xyz="0.0218 0 0.0" rpy="0 0 0"/>
            <parent link="camera_link"/>
            <child link="camera_rgb_frame" />
        </joint>
        <link name="camera_rgb_frame"/>
    </xacro:macro>
</robot>